@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');
*{
  margin:0px;
  padding:0px;
}
body{
  background-color: rgba(0,0,0,0.9);
}


.hiddenText{
  overflow:hidden;
  white-space: nowrap;
}

#thead-fix{
  position: sticky;
  top:60px;
  z-index: 999; 
  background: white;
}

.headcol {
  position: sticky;
  width: 1500px;
  left: 0;
  background-color: white;
  top: auto;

}

.fixTableHead {
  overflow-y: auto;
  height: 110px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}