
body{
    /* color: white; */
    background: rgba( 22, 23, 26, 100%);
}

.container{
    border-radius: 20px;
    width:100%;
    color:white;
    background-color: rgba( 22, 23, 26, 100%);
    border: 1px solid white;
}