#coin-table tbody td{
    color:white;
    font-size: 1rem;
    background-color: rgba( 22, 23, 26, 100%);
    border-bottom: 1px solid rgba(190,254,254,0.7);
}
#coin-table tbody tr{
    padding: 0px;
    height:10vh;
}

#rank{
    width:6%;
    text-align: center;
    padding-right: 1%;
}
#name{
    width:20%;
}
#name-txt{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    /* padding:3%; */
}
#name-txt  img{
    /* background-color: red; */
    width:25%;   
}
#name-txt label{
    padding-left: 2%;
    font-size: 1rem;
}

#price{
    width:10%;
}
#price label{
    padding-right:7%;
    float: right;
}
#change{
    width:7%;
    
}
#price-change{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:52%;
    float: right;
    padding-right: 11%;
}
#price-change img{
    padding-right: 8%;
    width:20%;
}
#market-cap{
    width:13%;
}
#market-cap label{
    float: right;
    padding-right:7%;
    font-size: 1rem;
}
#total-volumne{
    width:12%;
}
#total-volumne label{
    float: right;
    padding-right: 7%;
    font-size: 1rem;
}
#circulating-supply{
    width:12%;
}
#circulating-supply label{
    float: right;
    padding-right: 7%;
    font-size: 1rem;
}

#new-row:hover{
    /* border-right:1px solid white; */
    transform: scale(1.01);
    /* text-transform: capitalize; */
    /* background-color: red; */
}