#coin-table{
    border-collapse:collapse;
    width:95%;
    margin: auto;
}


#coin-table thead th{
    padding:1rem 1rem;
    font-size: 1.0rem;
    letter-spacing: 0.1rem;
    
}


#thead-fix{
    position: sticky;
    top:0px;
    z-index: 999; 
    background: rgba(255,255,255,1);

}